/* @import '/Users/emmanuel/Projects/websiteAnimated/node_modules/lato/font/lato-black/lato-black.woff2'; */
@import './fonts/lato.css';
html {
  box-sizing: border-box;
height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  background-color: #333;
  height: 100%;
  font-family: "Lato", "Open Sans","Helvetica","Arial",sans-serif;
}

#container {
  position: relative;
  /* background-color: rgb(228, 228, 228); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#timeline{
  position: absolute;
  transform-origin: 0 0;
  height: 10px;
  width: 100%;
  background-color: #fdd935;
  z-index: 9999;
  visibility: hidden;
}
#origin {
  pointer-events: none;
  user-select: none;
  position: absolute; /* << */
  transform: translate3d(50vw,50vh,0);/* << */
}
#camera{
  transform-origin: 0 0; /* << */
  /* backface-visibility: hidden; */
  /* Set the scene perspective both lines go together */
  perspective: 450px;
  /* perspective-origPin: 88% 55%; */
  transform-style: preserve-3d; /* << */
  /* 4 DEBUGGING */
  transform:rotate3d( 1, 0, 0, -90deg);/*top*/
  transform:rotate3d( 0, 1, 0, -90deg);/*side*/
  transform:rotate3d( 0, 1, 0, 0);/*none*/
}
#world{
  position: absolute;
  transform-style: preserve-3d;
}

.ddd{
  position: absolute;
  transform-origin: 0 0;
  transform-style: preserve-3d;
}
.ddd span{
  display: inline-block;
}
.dddContainer {
  transform: translate3d(-50%, -50%, 0) ;
  position: relative;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  /*  */
  /* background-color: rgba(15, 139, 71, 0.5); */
}
#grid {
  position: absolute;
  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
  opacity: 0.1;
  
  transform-origin: 0 0; /* << */
  transform:rotate3d( 1, 0, 0, 90deg) translate3d(-50%, -50%, 0);/* XZ top*/
  transform:rotate3d( 0, 1, 0, 90deg) translate3d(-50%, -50%, 0);/* YZ side*/
  transform: translate3d(-50%, -50%, 0);/*default*/
  width: 200px;
  height: 200px;
  background-image: linear-gradient(white 1px, transparent 1px),
  linear-gradient(90deg, white 1px, transparent 1px),
  linear-gradient(#aaa 1px, transparent 1px),
  linear-gradient(90deg, #aaa 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
  background-position: -0.5px -0.5px, -0.5px -0.5px, -1px -1px, -1px -1px;
}
#spacers{
  transform-style: preserve-3d;  /* << */
}
.spacers{
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgb(138, 8, 245);
}

canvas {
  position: absolute;
  transform: translate3d(50vw,50vh, 0);
  -ms-interpolation-mode: nearest-neighbor;   
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -webkit-crisp-edges; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: pixelated;
  /* background-image: url(./images/Spinners.png); */
  /* background-repeat: no-repeat; */
  /* background-size: 170px 17px */
}
#bgs{
  position: absolute;
  transform: translate3d(50vw,50vh, 0);
}
/* My Shapes */
.rect{
  position: absolute;
  transform: scale(100);
  width: 1vw;
  height: 1vh;
  transform-origin: 0 0;
}

.circle{
  position: absolute;
  /* width: 141vmax; */
  /* height: 141vmax; */
  /* border-radius: 70.5vmax; */
  width: 14.1vmax;
  height: 14.1vmax;
  border-radius: 14.1vmax;
  transform-origin: 0 0;
}

#text{
  position: absolute;/* << */
  transform-style: preserve-3d;/* << */
  color: rgb(26, 21, 4);
  font-size: 12.5vmin; /* 100vmin / max chars per word */
  /* font-family: "Serif"; */
  font-weight: 100;
}

#text span{
  position: absolute;  /* << */
  transform-origin: 0 0;  /* << */
  /* background-color: hsla(354, 74%, 42%, 0.5); */
}

span#eme{
  display: flex;  /* << */
  position: absolute;  /* << */
  transform-origin: 0 0;  /* << */
  
}

span#eme >span{
  display: block;
  position: relative;
}


#hello{
  color: #212121;
  font-size:18vmin;
  font-weight: 900;
  letter-spacing: -1.0vmin;
  text-transform: lowercase;
}

#there{
  color: #212121;
  font-size:8vmin;
  font-weight: 200;
  /* letter-spacing: -1.5vmin; */
  /* text-transform: uppercase; */
}

 #iam{
  background-color:#fdd935;
  font-size:4vmin;
  font-weight: 900;
  letter-spacing: 0.4vmin;
  padding: 2vmin;
}

#eme{
  color:#fdd935;
  font-size:16vmin;
  font-weight: 900;
  letter-spacing: -0.5vmin;
  text-transform: uppercase;
}
#a{
  font-size: 5vmin;
  font-weight: 600;
  letter-spacing: 5vmin;
  text-transform: lowercase;
}

#software{
  font-size:10vmin;
  font-weight: 100;
  letter-spacing: 1.5vmin;
  text-transform: uppercase;
}

#dev{
  font-size: 6vmin;
  font-weight: 800;
  letter-spacing: 3vmin;
  text-transform: uppercase;
}

#ageek{
  font-size:44vmin;
  font-weight: 100;
  color:#fdd935;
  z-index: 1;
}

#by{
  font-size:8vmin;
  font-weight: 400;
  color:#fdd935;
}
#geek{

  color:#212121;
  font-size:110vmin;
  font-weight: 900;
  letter-spacing: -2.5vmin;
  text-transform: capitalize;
}

#geekBg{
  background-color: #212121;
}
#nature{
  color:#fdd935;
  font-size:7.5vmin;
  font-weight: 300;
  letter-spacing: 5.5vmin;
  text-transform: uppercase;
}

#origin *{
  transform-origin: 0 0;
}
.spinner{
  position: absolute;
  transform-origin: 0 0;
  /* opacity: 0.9; */
}


#creative{
  /* color:#fdd935; */
  font-size:10.5vmin;
  font-weight: 300;
  letter-spacing: 1.5vmin;
  text-transform: uppercase;
  position: absolute;
  
}
#byheart{
  color:#212121;
  font-size:4.5vmin;
  font-weight: 900;
  position: absolute;
  
}
#heart{
  color: #212121;
  font-size:5.5vmin;
  font-weight: 900;
  letter-spacing: 9.5vmin;
  text-transform: uppercase;
  position: absolute;
  
}

#heartBg{
  background-color: #fff9c4;
}